body {
    background-color: #1b1b1b;
}

span {
    color: #f0f8ff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;    
}

hr {
  border: none;
  border-top: 2px solid #444;
  margin: 20px auto;
  width: 40%;
  
}

.pfp { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.pfpshape {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #877fca;
    border-radius: 30px;
    rotate: -5deg;
    z-index: 0;
}
.pfpimg{
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 30px;
    rotate: 2deg;
    box-shadow: #1b1b1b;
    z-index: 1;
}
.pfptext span{
    margin-left: 30px;
    display: block;
}
.pfpname {
    margin-top: -25px;
    font-size: 50px;
    font-weight: bold;
}
.pfpdesc {
    font-size: 20px;
    color: #877fca;
}

.gamesheader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamesheader span{
    font-size: 30px;
    font-weight: bold;
}

.games {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.games-wrapper {
    position: relative;
    display: inline-block;
}
.games-wrapper img{
    width: 300px;
    height: 100px;
    border-radius: 15px;
    box-shadow: #f0f8ff;
    display: block;
    filter: brightness(50%);
}
.games-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the text */
    color: white;
    text-shadow: 1px 1px 4px #1b1b1b;
}
.games-text2 {
    font-size: 9px;
    position: absolute;
    text-align: center;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.links-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links-header span {
    font-size: 30px;
    font-weight: bold;
}